<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설정 페이지</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<div>
    <div class="container settings-container">
        <div class="form-item2">
            <span>주차장명:</span>
            <span>대야제6 공영주차장</span>
        </div>
        <div class="form-item2">
            <span>주차장 주소:</span>
            <span>경기 군포시 대야1로11번길 14</span>
        </div>
        <div class="form-item2">
            <span>총 주차 구획 수:</span>
            <span>12</span>
        </div>
        <div class="form-item2">
            <span>일반 주차 구역:</span>
            <span>12</span>
        </div>
        <div class="form-item2">
            <span>전기차 주차 구역:</span>
            <span>0</span>
        </div>
        <div class="form-item2">
            <span>장애인 주차 구역:</span>
            <span>0</span>
        </div>
        <div class="form-item2">
            <span>기본회차 시간(기본 무료):</span>
            <span>29분</span>
        </div>
        <div class="form-item2">
            <span>기본 시간:</span>
            <span>30분</span>
        </div>
        <div class="form-item2">
            <span>기본 요금:</span>
            <span>600원</span>
        </div>
        <div class="form-item2">
            <span>추가 시간:</span>
            <span>10분</span>
        </div>
        <div class="form-item2">
            <span>추가 요금:</span>
            <span>200원</span>
        </div>
        <div class="form-item2">
            <span>1일 요금:</span>
            <span>6000원</span>
        </div>
        <div class="form-item2">
            <span>고객 센터:</span>
            <span>070-8691-2132</span>
        </div>
        <button class="return-button" onclick="window.location.href='/'">뒤로가기</button>

    </div>
     <div class="container settings-container">
            <div class="version">
            <span>Parking Go 스마트 결제 V1.00</span>
        </div>
        <div class="version">
            <span>Smart parking spot solution V1.00</span>
        </div>
    </div>
</body>
</html>
